<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="https://avatars2.githubusercontent.com/u/65743424?s=460">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Uilliam Brownstone <i class="fa fa-github"></i></span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4"><b><center>Uilliam Brownstone</center></b><i class="material-icons right">close</i></span>
      <p>
        Analista de Sistemas e Estudante de Jogos Digitais</p>
      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/UilliamBrownstone2020" target="_blank" class="grey darken-3 white-text waves-effect waves-light btn"><i class="fa fa-github-square"></i> GitHub Profile</a>
        <br><br>
        <a href="https://www.linkedin.com/in/uilliam-brownstone-79951917a/" target="_blank" class="light-blue darken-4 white-text waves-effect waves-light btn"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin Profile</a>
        <br><br>
        <a href="https://linktr.ee/brownstoneinformatica" target="_blank" class="green darken-2 white-text waves-effect waves-light btn"><i class="fa fa-globe"></i> Contato</a>
        <br><br>
        <i class="fa fa-gamepad" style="font-size:75pt"></i>
      </p>
    </div>
  </div>